*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(108, 80, 184);
  color: black;
}
.my_container{
  height: 100vh;
  width: 100%;
}
.container_film{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.films{
  margin: 10px;
  background-color: rgb(25, 148, 173);
  border-radius: 4px;
  display: inline-block;
  width: calc(100% / 4 - 25px);
  padding: 15px;
}
.series {
  margin: 10px;
  background-color: rgb(25, 148, 173);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% / 4 - 25px);
  padding: 15px;
}
.flag {
  height: 17px;
  border-radius: 5px;
  display: inline-block;
}
.films h3, .series h3 {
  display: inline-block;
  padding-right: 20px;
  vertical-align: middle;
}
.my_poster{
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  z-index: 2;
}
.films h2, .series h2{
  flex-grow: 1;
}
.fa-star {
  color: yellow;
}
.my_poster:hover{
  opacity: 0;
}
.my_info{
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
}
.my_info:hover{
  opacity: 1;
}
img{
  width: 100%;
  height: 100%;
}
